[main]
deltarpm=true
gpgcheck=True
installonly_limit=10
max_parallel_downloads=10
clean_requirements_on_remove=True
best=False
skip_if_unavailable=True
{% if PROXY_ENABLED == 1 %}
proxy={{ PROXY }}
{% endif %}